body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: hsl(0, 0%, 95%);

}
@media screen and (max-width: 600px) {
    body{
        background-color: rgb(255, 0, 55);
        width: 600px;
        margin-top: 100px;
    }
    .calculator{
       width: 500px;
    }
    
}
.calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500vh;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 15px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background: hsl(0, 0%, 40%);
}
button:active{
    background: hsl(0, 0%, 50%);
}
.operator-btn{
    background: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background: hsl(35, 100%, 65%);
}
.operator-btn:active{
        background: hsl(35, 100%, 65%);


}

